@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=IBM+Plex+Sans&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ffffff;
  color: #111;
}

[data-theme="dark"] body {
  background-color: #0d1117;
  color: #eaeaea;
}

h1, h2, h3 {
  font-family: 'JetBrains Mono', monospace;
}

a {
  color: #663399;
  text-decoration: underline;
}

[data-theme="dark"] a {
  color: #00e5ff;
}
